<nav>
    <ul>
        <li>
            <a href="{{ path('home') }}"> Home </a>
        </li>
        <li>
            <a href="{{ path('xls-generator') }}"> XLS Generator </a>
        </li>
    </ul>
</nav>